{
    "production": {
        "chat_servers": [
            "ws://example:8080"
        ]
    },
    "development": {
        "chat_servers": [
            "ws://example:8180"
        ],
        "mac_addresss": [
        ]
    },
    "debug": false,
    "max_mqtt_payload_size": 8192,
    "mcp_client": {
        "capabilities": {
        },
        "client_info": {
            "name": "xiaozhi-mqtt-client",
            "version": "1.0.0"
        },
        "max_tools_count": 128
    }
}
